
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 1rem arial,sans-serif;
}

body {
	/*background-color: cornflowerblue;*/
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-align-items-center {
	align-items: center;
}

.flex-to-end {
	justify-content: flex-end;
}

nav {
	background-color: #ffffff;
	padding: 30px;
}

nav a {
	text-decoration: none;
	color: #000000;
	padding: 10px;
	transition: color .4s ease;
}

nav a:hover {
	color: cornflowerblue;
}

nav + div {
	min-height: 4rem;
	height: 30rem;
	background-color: #eeeeee;
	min-width: 50vw;
	width: 50vh;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px #ccc;
	font-size: 1.2rem;
}

.counter {
	margin: 50px 0px;
}

.counter span {
	font-size: 3rem;
}

.btns-container {
	display: flex;
	justify-content: space-between;
}

.sq-btn {
	margin: 10px;
	background-color: #686868;
	padding: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: inline-block;
	border: 2px solid #cccccc;
	color: #ffffff;
	transition: all .2s ease;
}

.sq-btn:hover {
	background-color: cornflowerblue;
	color: #ffffff;
	border: 2px solid #cccccc;
	cursor: pointer;
}
